.list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  .list-controls-container {
    display: flex;
    flex-direction: column;
  }
  .list-items-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    min-height: 500px;
  }
}
