.pagination-container {
  margin: 5px 0;
  button {
    border: none;
    margin-right: 4px;
    margin-bottom: 4px;
    width: 26px;
    height: 26px;
    &:last-of-type {
      margin-right: 0;
    }
    &.active {
      color: blue;
    }
    &:focus {
      outline: none;
    }
    &:hover,
    &.active {
      background-color: #ccc;
      cursor: pointer;
    }
  }
}
