.list-item-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #eee;
  .list-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .character-image {
      display: block;
      max-height: 100px;
    }
    .character-name {
      font-size: 1.5em;
    }
    button {
      display: flex;
      align-self: flex-end;
      margin-bottom: 5px;
      border: none;
      font-style: italic;
      text-decoration: underline;
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
        color: blue;
      }
    }
  }

  .list-item-content {
    table {
      th {
        text-align: left;
      }
    }
  }
}
