.app-container {
  height: 100vh;
  padding: 10px;
  h1 {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }
}

@media (min-width: 320px) {
  .app-container {
    margin: 0;
  }
}
@media (min-width: 480px) {
  .app-container {
    margin: 0;
  }
}
@media (min-width: 600px) {
  .app-container {
    margin: 0 10%;
  }
}
@media (min-width: 801px) {
  .app-container {
    margin: 0 20%;
  }
}
@media (min-width: 1025px) {
  .app-container {
    margin: 0 20%;
  }
}
@media (min-width: 1281px) {
  .app-container {
    margin: 0 20%;
  }
}
